.form{
    display: flex;
    flex-direction: column;
    /* width: 50%; */
    padding: 50px;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 15px;    
}
.form-box{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    /* width: fit-content; */
    height: inherit;


}