footer{
    bottom: 0;
    background-color: black;
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    /* position:  fixed; */
}

.footer-top{
    display:  flex;
    flex-direction: row;
    gap: 40px;
    /* justify-content: center; */
    /* align-items: center; */
    
}